p {
    font-family: monospace;
    font-size: 24px;
    color: green;
}

a {
    font-size: 5px;
}

h2 {
    background-color: cyan;
}

.special_bold {
    font-weight: bold;
    font-size: 20px;
}

#page_header {
    color: deeppink;
    font-family: sans-serif;
}

#last_link {
    font-size: 30px;
    font-family: monospace;
    border: 10px solid pink;
}

section>article {
    background-color: darkviolet;
    color: white;
}

article>p {
    color: white;
}

a,h4,#page_header {
    letter-spacing: 20px;
}

.special_bold,section {
    border: 5px dotted green;
}